<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @typetutorial.type %>
</p>

<p>
  <strong>Tutorial:</strong>
  <%= @typetutorial.tutorial %>
</p>

<%= link_to 'Edit', edit_typetutorial_path(@typetutorial) %> |
<%= link_to 'Back', typetutorials_path %>
